@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html,
button {
    font-family: 'Nunito', sans-serif;
    letter-spacing: .5px;
    line-height: 1.6;
    text-align: center;
}

#wheel {
    height: 600px;
    margin: 1rem 40rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #wheel {
        margin: 1rem 10rem;
    }
}

@media screen and (max-width: 800px) {
    #wheel {
        margin: 0 -5rem;
    }
}